
.main{
        background-image: url('D:\MINI\mini\src\components\assets\hospital.webp');
        background-repeat: no-repeat;
        background-size: cover;
        color: #FFFFFF;
    /* margin: 3rem;
    margin-top: 0%;
    display: flex;
    flex-direction: column; */
} 
h2{
    color: rgb(0, 0, 0);
}

hr {
    opacity: 1; /* Bootstrap override, thanks fcc fourm mod lasjorg for the help */
  }
  .white-hr {

    width: 175px;
    height: 5px;
    margin-top: 40px;
    border-radius: 3px;
    margin-right: 670px;
    margin-left: 670px;
    border: 1px solid rgb(44, 48, 90);
    background-color: rgb(40, 63, 114);

  }
.Image{
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.disease{
    width: 60%;
    height: 100%;
    /* background-color: rgb(31, 164, 164); */

}
.button{
    width: 60%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: larger;
    font-weight: 600;
    margin: 20px;
    background-color: rgba(0, 72, 6, 0.559);
    color: white;
}
@media (max-width:790px) {
    .main{
        display: flex;
        flex-direction: column;
        background: rgb(18,196,18);

    }
    .Image{

        width: 100%;
        height: auto;
        
    }
    .disease{
    
        width: 100%;
        height: 100%;
       
    }
}